<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--<html xmlns:sec="http://www.w3.org/1999/xhtml">-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="admin dashboard">
    <meta name="author" content="Hetoiiblpb">
    <title>Hetoiiblpb solo7</title>
    <link rel="icon" href="../static/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body class="bg-light">
<input type="hidden" id="token" th:value="${session.token}"/>
<!--<nav class="navbar navbar-inverse bg-dark navbar-fixed-top">-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="/">Spring Boot + Bootstrap+Ajax+jQuery</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form action="/logout" method="post">
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-pills flex-column">
                <br>
                <li th:if="${session.roles.contains('ROLE_ADMIN')}" class="nav-item"><a href="/allUsers" class="nav-link active">Администратор <span
                        class="sr-only">(current)</span></a></li>
                <li th:if="${session.roles.contains('ROLE_USER')}" class="nav-item"><a href="/greeting" class="nav-link">Юзер <span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Список пользователей</h1>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="nav-link active"><a href="#tab1" role="tab" data-toggle="tab"
                                                                   id="resetTable">Таблица
                    пользователей</a></li>
                <li role="presentation" class="nav-link"><a href="#tab2" role="tab" data-toggle="tab">Добавить
                    пользователя</a></li>
            </ul>

            <div class="tab-content" style="background: white">
                <div role="tabpanel" class="tab-pane active p-4 mx-4" id="tab1">
                    <br><h4 style="text-indent:15px;"><b> Список всех пользователей</b></h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="tableUser">​
                            <thead>
                            <tr class="text-center">
                                <th> Id</th>
                                <th> Username</th>
                                <th> First Name</th>
                                <th> Last Name</th>
                                <th> E-mail</th>
                                <th> Роль </th>
                                <th> Действия</th>
                            </tr>
                            </thead>

                            <!-- Modal -->
                            <div class="modal fade" id="editUser">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Редактирование пользователя </h4>
                                            <!--                                            <button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="row">
                                                <!--                                                <div class="col-md-4"></div>-->
                                                <div class="col-md-12 text-center ">
                                                    <form id="updateUser">
                                                        <h4>ID</h4>
                                                        <input id="updateUserId" class="form-control text-center"
                                                               type="text"
                                                               name="id"/>
                                                        <h4>Username</h4>
                                                        <input id="updateUserName" class="form-control text-center"
                                                               type="text"
                                                               name="username"/>
                                                        <h4>First Name</h4>
                                                        <input id="updateFirstName" class="form-control text-center"
                                                               type="text"
                                                               name="firstname"/>
                                                        <h4>Last Name</h4>
                                                        <input id="updateLastName" class="form-control text-center"
                                                               type="text"
                                                               name="lastName"/>
                                                        <h4>Email</h4>
                                                        <input id="updateUserEmail" class="form-control text-center"
                                                               type="text"
                                                               name="email"/>
                                                        <h4>Password</h4>
                                                        <input id="updateUserPass" class="form-control text-center"
                                                               type="password"
                                                               name="password"
                                                               placeholder="Old encoded Password"/>

                                                        <h4>Role</h4>
                                                        <select id="updateUserRole" class="form-control text-center"
                                                                type="text"
                                                                name="role">
                                                            <option value="ROLE_USER">Юзер</option>
                                                            <option value="ROLE_ADMIN">Админ</option>
                                                        </select>
                                                    </form>
                                                </div>
                                                <div class="col-md-4"></div>
                                            </div>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                    data-dismiss="modal">
                                                Закрыть
                                            </button>
                                            <button id="updateFormUser" form="updateUser" type="submit"
                                                    class="btn btn-primary" data-dismiss="modal">
                                                Сохранить
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- End Modal -->

                        </table>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="tab2">
                    <h4><b>Добавление пользователя</b></h4>
                    <form id="addForm">
                        <div class="row justify-content-center">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 mb-4 text-center justify-content-center">
                                <h4>Username</h4>
                                <input type="text" name="username" class="form-control text-center" id="addUserName"/>
                                <h4>First Name</h4>
                                <input type="text" name="firstName" class="form-control text-center" id="addFirstName"/>
                                <h4>Last Name</h4>
                                <input type="text" name="lastName" class="form-control text-center" id="addLastName"/>
                                <h4>Пароль</h4>
                                <input type="text" name="password" class="form-control text-center" id="addPassword"/>
                                <h4>Email</h4>
                                <input type="text" name="email" class="form-control  text-center" id="addMail"/>
                                <h4>Роль</h4>
<!--                                <select class="custom-select my-2 form-control text-center" id="addRole" name="role"-->
<!--                                        type="text">-->
<!--                                    <option selected value="ROLE_USER">Пользователь</option>-->
<!--                                    <option value="ROLE_ADMIN">Админ</option>-->
                                    <input type="checkbox" class="checkbox-inline" id="addRoleAdmin" name="role"
                                           value="ROLE_ADMIN"/>Admin
                                    <input type="checkbox" class="checkbox-inline" id="addRoleUser" name="role"
                                           value="ROLE_USER"
                                           checked="checked"/>User

                                </select>
                                <br>
                                <button type="submit" class="btn btn-success" id="addFormUser">
                                    Добавить
                                </button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


<script src="../static/allUsers.js"></script>
</body>
</html>